* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    
}

body {
    font-family: "Jaldi", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #14164A;
    color: #FFFEFE;
    padding: 3rem 1rem;
    font-size: 24px;
    height: 8rem;
}

.home-icon {
    width: 3.5rem;
}

nav > li {
    list-style-type: none;
}

.logo {
    width: 15rem;
    height: auto;
    margin: 0;
}

.yellow-bar {
    display: inline-block;
    border-bottom: 1px solid #EECC1C;
    width: 3.75rem;
}


.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text p {
    padding: 0 15px;
    text-transform: uppercase;
}

.search {
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
}

.search-bar {
    border: none;
}

.search-icon {
    width: 2.5rem;
    padding: 0;
    margin: 0;
}

.sub-nav {
    background: none;
    color: #000;
    display: inline;
    text-align: center;
}

.sub-nav > ul > li {
    list-style-type: none;
    display: inline;
    padding: 0 2.5rem;
    text-transform: uppercase;
}

.container {
    width: 100%;
    padding: 2rem 10rem;
}

.container > h2 {
    text-transform: uppercase;
    padding: 2rem 0;
}

.book-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.book-grid > img {
    width: 250px;
    height: auto;
}

