* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    
}

body {
    font-family: "Jaldi", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #14164A;
    color: #FFFEFE;
    padding: 3rem 1rem;
    font-size: 24px;
    height: 8rem;
}

.home-icon {
    width: 3.5rem;
}

nav > li {
    list-style-type: none;
}

.logo {
    width: 15rem;
    height: auto;
    margin: 0;
}

.yellow-bar {
    display: inline-block;
    border-bottom: 1px solid #EECC1C;
    width: 3.75rem;
}


.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text p {
    padding: 0 15px;
    text-transform: uppercase;
}

.search {
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
}

.search-bar {
    border: none;
}

.search-icon {
    width: 2.5rem;
    padding: 0;
    margin: 0;
}

/* Main */
.container{
    display: flex;
    justify-content: space-between;
}

/* Sections */

/* Section: Book Info */
.book-info {
    width: 250px;
    height: 400px;
    padding: 1rem;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    
}

.book-info > img {
    min-width: 500px;
    min-height: 380px;
}

.rating {
    display: flex;
    margin: 1rem 0;
    height: auto;
    width: 450px;
}

.rating > p > span {
    color: #5359EF;
}

.check-out {
    background: #F8D937C9;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 1.5rem;
    margin: 0 auto;
}

/* Section: Full Description */

h2 {
    font-size: 2.6rem;
    line-height: 2;
}

.full-desc {
    padding: 1.5rem 6rem;
    display: flex;
    flex-direction: column;
    width: 1400px;
}

.author-isbn {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.author-isbn > p > span {
    color: #5359EF;
}

.author-isbn {
    text-align: right;
    line-height: 2;
}

.book-intro {
    display: flex;
}

.fuller-desc > p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

article {
    width: 80%;
    line-height: 2;
}

.fuller-desc > article {
    font-size: 1.25rem;
}